@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.home-page {
  .text-zone {
    font-family: 'Lobster', cursive;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
    letter-spacing: 3px;
  }

  h1 {
    font-size: 57px;

    &::before {
      content: '<h1>';
      font-family: 'La Belle Aurore';
      font-size: 18px;
      color: black;
      position: absolute;
      margin-top: -40px;
      left: 15px;
    }

    &::after {
      content: '<h1/>';
      font-family: 'La Belle Aurore';
      color: black;
      font-size: 18px;
      position: absolute;
      margin-top: 50px;
      margin-left: 20px;
      animation: fadeIn 1s 1.7s backwards;
    }

    img {
      width: 100px;
      height: 100px;
      opacity: 0;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }
  h2 {
    color: #000d3c;
    margin-top: 20px;
    font-weight: 3000;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
    opacity: 1;
  }
  .flat-button {
    color: #000d3c;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;
    &:hover {
      background: #000d3c;
      color: white;
    }
  }
}
